app = "jouleheatingsimulation-2d"
primary_region = "sin"

[env]
  PORT = "8080"
  FLASK_ENV = "production"
  PYTHONUNBUFFERED = "1"

[http_service]
  auto_start_machines = true
  auto_stop_machines = true
  force_https = true
  internal_port = 8080
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "30s"
    method = "GET"
    path = "/"
    protocol = "http"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
  memory_mb = 1024
